# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo


# Ignore credentials or service account keys
production/*.json

# Ignore virtual environments
venv/
env/
*.env
*.venv

# Ignore Node.js files (if applicable)
node_modules/

# Ignore system files
.DS_Store
Thumbs.db
desktop.ini

# Ignore logs and temp files
*.log
*.tmp

# Ignore VSCode settings (optional)
.vscode/




# Ignore all text files (e.g., logs or notes)
*.txt


*graceful-path-452515-d9-86ae34b7ffeb.json
*credentials.json
*.sqlite3
*.pdf

db/


# Environment variable files
.env