
  .compose-container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 600px;
  }
  .compose-container h2 {
    margin-bottom: 20px;
  }
  label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
  }
  input[type="email"],
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }
  textarea {
    min-height: 150px;
  }
  button {
    /* margin-top: 20px; */
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background: #0056b3;
  }
  .generate-container{
    display: flex;
    align-items: end;
    align-items: flex-end;

  }
  .generate-input{
    margin-right: 20px;
  }

  .composeSend{
    width: 93px;
    margin-top: 30px;
    margin-left: 445px;
    border-radius: 20px;
    height: 40px;
  }

  .generate-btn{
    border-radius: 100%;
    width: 40px;
    height: 40px;
     margin-top: 30px;
  }
  .generate-btn>img{
    width: 40px;
    height: 40px;
padding: 5px;
  }